@{
    Layout = "Login";
}
@*@model LoginModel*@
<input id="errorInfo" type="hidden" value="@ViewBag.ErrorInfo" />
<form  class="login-form" method="post" action="/Admin/Login/Index">
    <h3 class="form-title">玩音乐</h3>

    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">账号</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="text" name="Name" value="" placeholder="账号"/>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">密码</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="password" name="Password" placeholder="密码"/>
    </div>
    @*<div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">验证码</label>
        <div class="input-group">
            <input id="newpassword" class="form-control" type="text" name="captcha" placeholder="验证码">
            <span class="input-group-btn">
                <img style="cursor: pointer;" src="{{captcha_src()}}" onclick="this.src='{{captcha_src()}}' + Math.random()">
            </span>
        </div>
    </div>*@
    <div class="form-actions">
        <button type="submit" class="btn green uppercase">登录</button>
        <label class="rememberme check">
            <input type="checkbox" name="remember" value="1" />记住我
        </label>
        <a href="" id="forget-password" class="forget-password">忘记密码?</a>
    </div>
</form>